<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MarketDeal"
        tools:targetApi="31">

        <activity
            android:name="br.com.marketdeal.ui.activity.LoadingActivity"
            android:theme="@style/Theme.CustomSplashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.marketdeal.ui.activity.SignInActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.SignUpActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.MainActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.MarketFormActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.OfferActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.MarketActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.ProductFormActivity" />
        <activity android:name="br.com.marketdeal.ui.activity.MarketUpdateActivity" />
    </application>

</manifest>